/********** AJAX RIGHTSIDEBAR START*******************/
h3#quickreply_title {
    clear: both;
}

.leftside {
    float: left;
    width: 99%;
    transition: 0.2s;
}

.rightsideinfobit {
    padding: 7px 10px;
    padding-right: 20px;
}

.rightside {
    transition: 0.2s;
    font-family: 'Ad-Clean', sans-serif;
    font-size: 13px;
    float: right;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 0%;
    overflow: hidden;
}

.rightside_title {
    padding: 20px 0;
    color: #2D2D2D;
}

.rightsideico {
    padding-right: 10px;
    vertical-align: middle;
    margin-top: -7px;
}

.rightside_collaps {
    position: absolute;
    right: 0px;
    margin-top: 5px;
    clip: rect(auto, 15px, auto, auto);
    cursor: pointer;
}

div#rightside_container {
    display: none;
    overflow: auto;
    width: 110%;
    margin-top: -14px;
    padding-bottom: 20px;
}

.rightside_highlight {
	background-color: #EEEE90;
	transition: background 200ms;
}

div#rightsideposts {
	transition: background 3000ms;
	margin-left: 10px;
	border-left: 1px solid #D9D9D9;
	margin: -20px 0 -20px 19px;
	padding: 20px 0;
}

div#rightsidelastvisited {
	margin-left: 10px;
	border-left: 1px solid #D9D9D9;
	margin: -20px 0 -20px 19px;
	padding: 20px 0;
}
/********** AJAX RIGHTSIDEBAR END*******************/